.fadeIn{
  animation: fadeIn .4s ease forwards;
}
@keyframes fadeIn{
  from{opacity: 0;transform: translateY(16px)}
  to{opacity: 1;transform: translateY(0)}
}
div.list{
  width: 57rem;
  margin: 8px auto 80px auto;
  @media (max-width: 600px){
    margin: 0 auto 80px auto;
    width: 100vw;
  }
}

div.aRow{
  padding: 0 10px;
  border-radius: 4px;
  margin-bottom: -1.5px;
  opacity: 0;
  &:hover{
    background-color: hsl(0,0,97%);
  }
  &:hover div.title{
    h5{
      color: #0a4db0!important;
    }
  }
  &:first-child{
    div.wrapper{
      border-top: none;
    }
  }
  div.wrapper{
    position: relative;
    padding: 22px 0;
    border-top: 1px dashed #d1d1d1;
    @media (max-width: 600px){
      padding: 50px 0 19px 0;
      border-top: 1px solid #ececec;
    }
    div.aside{
      a.cover{
        width: 200px;
        height: 110px;
        @media (max-width: 600px){
          width: 110px;
          height: 80px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px;
        border: 1px solid #c7c7c7;
        border-radius: 2px;
        background-color: #dbdbdb;
        box-sizing: border-box;
        &:hover{
          border: 1px solid #969696;
        }
        img{
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
    div.content{
      width: calc(100% - 215px);
      letter-spacing: 1px;
      @media (max-width: 600px){
        width: calc(100% - 120px);
        letter-spacing: 0;
      }
      div.title{
        overflow: hidden;
        height: 28px;
        @media (max-width: 600px) {
          position: absolute;
          top: 15px;
          left: 0;

        }
        a{
          display: inline-block;
          text-decoration: none;
          h5{
            word-break: break-all;
            transform: translateY(-4px);
            font-size: 21px;
            font-weight: bold;
            color: #007aff;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            @media (max-width: 600px){
              font-size: 18px;
            }
          }
        }
      }
      div.notes{
        margin-top: 8px;
        color: #696969;
        font-weight: 100;
        font-size: 13px;
        height: 16px;
        font-style: normal;
        overflow: hidden;
        @media (max-width: 600px){
          margin-top: 0;
          font-size: 12px;
          width: 100%;
          justify-content: space-between;
        }
        div.note{
          height: 16px;
          line-height: 16px;
          margin-right: 2rem;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          @media (max-width: 600px){
            font-family: 黑体;
            margin-right: 0;
          }
        }
      }

      div.brief{
        margin-top: 10px;
        color: #535353;
        font-size: 15px;
        line-height: 23px;
        height: 43px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-align: justify;
        word-break: break-all;
        @media(max-width: 600px){
          margin-top: 6px;
          font-size: 14px;
          line-height: 20px;
          height: 60px;
          -webkit-line-clamp: 3;
        }
      }
    }
  }
}

div.noResult{
  position: absolute;top: 0;left: 0;
  width: 100vw;height: 80vh;
  padding-top: 240px;
  div.cage{
    .downasaur{
      transform: translateX(-22px) scale(2.4);
    }
    .queryVal{
      transform: translateX(24px) translateY(-18px);
      color: #6E6E6E;
      .txt{
        letter-spacing: 1px;
        font-size: 16px;
        height: 18px;
        line-height: 18px;
        max-width: 350px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        @media (max-width: 650px) {
          max-width: 120px;
        }
      }
      .hlp{
        margin-left: 3px;
        font-size: 17px;
        height: 18px;line-height: 18px;
      }
    }

  }
  div.btn{
    margin: 90px 0;
    .v-btn{
      font-size: 16px;
      letter-spacing: 2px;
      font-weight: bold;
      border-color: #999999;
    }
  }


}