aside{
  user-select: none;
  position: fixed;right: 0;top: 0;
  z-index: 20;
  width: 440px;
  height: 100vh;
  background-color: #ebebeb;
  border-left: 1px solid rgba(48,53,58,1);
  @media(max-width: 960px){
    width: 320px;
  }

}
.slidePC-enter-active,.slideMobile-enter-active {
  transition: transform .3s;
}
.slidePC-leave-active,.slideMobile-leave-active {
  transition: transform .3s;
}
.slidePC-enter, .slidePC-leave-to {
  transform: translateX(440px);
}
.slideMobile-enter, .slideMobile-leave-to {
  transform: translateX(320px);
}

.theme--light.v-tabs-items{
  background-color: transparent;
}

aside{
  .tabs{
    padding: 0 20px 0 28px;
    @media(max-width: 600px){
      padding: 0 10px 0 0;
    }
    .v-tab{
      font-size: 17px;
      font-weight: bold;
      @media(max-width: 600px){
        letter-spacing: 1px;
        font-size: 16px;
      }
      &.active{

      }
    }
    .closeBtn_1{

    }
  }
  .scrollBox{
    overflow: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar{
      display: none;
    }
    //max-height 在组件里根据设备尺寸得出

    .list{
      padding: 20px 0;
      .aRow{

        padding: 11px 34px 11px 28px;
        cursor: pointer;
        @media(max-width: 600px){
          padding: 8px 38px 8px 32px;
        }
        &:hover{
          background-color: rgba(0,0,0,.04);
        }
        .title{
          line-height: 22px;
          padding-left: 24px;
          .aName{
            font-size: 14px;
            font-weight: bold;
          }
          .aInfo{
            font-size: 13px;
            color:#5e5e5e
          }
        }
        .aNum{
          font-size: 13px;
          color:#3d3d3d;
        }

      }
    }
  }
}
div.wrapper{
  position: relative;
  font-size: 20px;
  color: black;
  div.hinterTop{
    pointer-events: none;
    position: absolute;top: 0;
    width: 100%;
    height: 50px;line-height: 20px;
    text-align: center;
    background: linear-gradient(0deg,rgba(235,235,235,0) 0%,rgba(235,235,235,1) 100%);
  }
  div.hinterBtm{
    pointer-events: none;
    position: absolute;bottom: 0;
    width: 100%;
    height: 50px;line-height: 60px;
    text-align: center;
    background: linear-gradient(180deg,rgba(235,235,235,0) 0%,rgba(235,235,235,1) 100%);
  }
}
div.overlay{
  position: fixed;
  background-color: rgba(48,53,58,.85);
  width: 100vw;
  height: 100vh;
  z-index: 5;

}