.z-index-100{
  z-index: 100;
}
.z-index-90{
  z-index: 90;
}
.z-index-80{
  z-index: 80;
}

//category.vue 组件的特殊样式
html{
  overflow: hidden;
  margin-right: 17px;
  &.scroller{
    overflow-y: scroll;
    margin-right: 0;
  }
}

div#headbar{
  transform: translateX(-8.5px);
  &.scroller{
    transform: translateX(0);
  }
}
header.v-app-bar{
  .v-toolbar__content{
    padding: 0;
  }
}
a{
  text-decoration: none;
}

.fade-enter-active {
  transition: opacity .2s;
}
.fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
