$darkblue:#2f87ed;
.in{
  @keyframes in {
    from {
      transform: translateX(-10px);
      //opacity: 0;
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  animation: in 1s forwards;
}
.ark-title{
  color: white;
  @media(max-width: 600px){
    color: black;
  }
  h4{
    font-size: 92%;
    letter-spacing: 1px;
    text-align: left;
    line-height: 32px;
    @media(max-width: 600px){
      font-size: 74%;
      line-height: 22px;
    }

    &.fix{
      margin-left: 8px
    }
    &.border{
      &::before{
        display: inline-block;content: '';
        position: absolute;right: 0;bottom: 5px;
        height: 20px;
        width: .5px;
        background-color: white;
        @media(max-width: 600px){
          bottom: 1px;
          background-color: rgba(0,0,0,.4);
        }
      }
    }
    &.title{
      font-size: 18px!important;
      padding: 0 10px;
      letter-spacing: 2px!important;
      position: relative;
      //max-width: 105px;
      @media(max-width: 650px){
        //max-width: 95px;
        padding: 0 5px;
      }
    }


  }
  div.subtitle{
    letter-spacing: 2px;
    color: #60d0ff;
    font-size: 15px;
    padding: 0 16px 0 20px;
    height: 28px;
    line-height: 26px;
    transform: translateY(2px);
    background-color: rgba(0,0,0,.08);
    overflow: hidden;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-width: 800px;
    @media(max-width: 650px){
      padding: 0 14px;
      max-width: 160px;
    }
    @media(max-width: 600px){
      max-width: 600px;
      color: $darkblue;
      background-color: transparent;
    }

    div.txt{
      position: relative;
      &::before{
        position: absolute;
        top: -1px;left: -8px;
        display: inline-block;content: '"';
      }
      &::after{
        position: absolute;
        top: -1px;right: -8px;
        display: inline-block;content: '"';
      }
    }

  }
}