main.v-content{
  &::before{
    display: block;content: '';
    position: fixed;top: 0;left: 0;
    width: 100vw;height: 100vh;
    background: url("../../assets/gradient.png");
    background-size: cover;
  }
  width: 67rem;
  margin: 128px auto 0 auto;
  padding-top: 0!important;
  div.v-content__wrap{

    div.row{
      margin: 0;
      width: 100%;
      position: relative;
      background-color: hsl(0,0,95%);
      border-radius: 0 0 3px 3px;
      box-shadow: 0 1px 10px #646464;
    }
  }

}

div.row{

  div.essay{
    border-right: 1px solid black;
    padding: 1.7rem; /*PC端内容区宽度*/
    p{
      height: 15vh;
      margin: 0 0 2vh 0;
      background-color: red;
    }
  }
  div.aside{
    position: sticky;
    top: 30px;
    padding: 1.7rem; /*PC端侧栏宽度*/
    p{
      height: 15vh;
      margin: 0 0 2vh 0;
      background-color: green;
    }
  }
}

div.row.mobile{/*移动端框架尺寸*/
  background-color: white;
  width: 100vw;
  div.essay{
    border-right: 0;
    padding: 0.6rem;
  }
  div.aside{
    padding: 0.6rem;
  }
}